<h1>Home</h1>
<p>Dies ist eine sehr einfach gehaltene Angular Applikation, die es ermöglicht, Abstimmungen über die Ethereum
  Blockchain mithilfe von SmartContracts zu tätigen.
</p>
<h2>Funktionsweise:</h2>
<p><strong>Abstimmen:</strong> Auf der Seite "Vote" für oder gegen Initiativen Stimmen.</p>
<p><strong>Resultate:</strong> Auf der Seite "Results" können die bereits abgegebenen Stimmen eingesehen werden.</p>
<h2>Abgrenzungen:</h2>
<p>
  Da diese kleine Applikation lediglich als Proof-of-Concept dient, wurde auf ein Login verzichtet.<br>
  Ebenfalls kann momentan ein Benutzer mehrmals für die gleiche Initiative abstimmen, dies ist aus Gründen der besseren
  Testbarkeit so im SmartContract implementiert.
</p>
<h2>Installation / Github:</h2>
<p>
  Das Github Repository ist hier zu finden: <a href="https://github.com/Raemy92/ffhs_blk_voting_system" target="_blank">GitHub</a><br>
  Eine Auflistung der Dependencies und Installationsanleitung ist im README.md zu finden.
</p>
