.app-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;

  p {
    font-size: 12px;
  }

  .container {
    position: relative;
    width: 90vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 16px;
  }

  button {
    color: #ffffff;
    background-color: #611BBD;
    border-color: #130269;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
